
Assignments/bookEx/bookEx/__pycache__/settings.cpython-311.pyc
Assignments/bookEx/bookEx/__pycache__/settings.cpython-311.pyc
Assignments/bookEx/bookEx/__pycache__/urls.cpython-311.pyc
Assignments/bookEx/bookEx/__pycache__/settings.cpython-311.pyc
Assignments/bookEx/bookEx/__pycache__/urls.cpython-311.pyc
Assignments/bookEx/bookMng/__pycache__/admin.cpython-311.pyc
Assignments/bookEx/bookMng/__pycache__/forms.cpython-311.pyc
/Assignments/bookEx/bookMng/__pycache__
Assignments/bookEx/db.sqlite3
