{% extends "base.html" %}
{% load static %}

{% block title %}
    {{book.name}} details
{% endblock title %}

{% block content %}
    <h1 align="center"> {{ book.name }} Detail</h1>
    <p align="center">
        <img src="{% static book.pic_path %}" height="300">
    </p>

    <table align = "center" border="2" width = "600" id="book_details_table">
        <tr>
            <th>Price</th>
            <th>Publisher</th>
            <th>Website</th>
            <th>Publish Date</th>
        </tr>
            <tr>
                <td> {{ book.price }} </td>
                <td> {{ book.username }} </td>
                <td> {{ book.web }} </td>
                <td> {{ book.publishdate }} </td>
            </tr>
    </table>
    <div class="ratingbox">
        <span class="heading">User Rating</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>4.1 average based on 254 reviews.</p>
        <hr style="border:3px solid #f1f1f1">
        <div class="row">
          <div class="side">
            <div>5 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-5"></div>
            </div>
          </div>
          <div class="side right">
            <div>150</div>
          </div>
          <div class="side">
            <div>4 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-4"></div>
            </div>
          </div>
          <div class="side right">
            <div>63</div>
          </div>
          <div class="side">
            <div>3 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-3"></div>
            </div>
          </div>
          <div class="side right">
            <div>15</div>
          </div>
          <div class="side">
            <div>2 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-2"></div>
            </div>
          </div>
          <div class="side right">
            <div>6</div>
          </div>
          <div class="side">
            <div>1 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-1"></div>
            </div>
          </div>
          <div class="side right">
            <div>20</div>
          </div>
        </div>
    </div>
{% endblock content %}