{% extends "base.html" %}
{% load static %}

{% block title %}
    {{book.name}} details
{% endblock title %}

{% block content %}
    <h1 align="center"> {{ book.name }} Detail</h1>
    <p align="center">
        <img src="{% static book.pic_path %}" height="300">
    </p>

    <table align = "center" border="2" width = "600" id="book_details_table">
        <tr>
            <th>Price</th>
            <th>Publisher</th>
            <th>Website</th>
            <th>Publish Date</th>
        </tr>
            <tr>
                <td> {{ book.price }} </td>
                <td> {{ book.username }} </td>
                <td> {{ book.web }} </td>
                <td> {{ book.publishdate }} </td>
            </tr>
    </table>
{% endblock content %}