{% extends "base.html" %}
{% load static %}

{% block title %}
    Display Books
{% endblock title %}


{% block content %}
    <h1 align="center"> This is our Book Exchange System</h1>
    <table border="2" width = "400">
        <tr>
            <th>Book Name</th>
            <th>Cover</th>
            <th>Rating</th>
        </tr>
        {% for book in book_list %}
            <tr>
                <td>
                    <a href="book_detail/{{ book.id }}">
                        {{ book.name }}
                    </a>
                </td>
                <td> <img src="{% static book.pic_path %}" height="50"> </td>
                <td>
                    <form class ='rate-form' action="ratebook" method="post">
                        <input type="hidden" name="book_id" value="{{ book.id }}">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit" name="rating" value="1" class="fa fa-star checked invisible_button" id="1 star"></button>
                        <button type="submit" name="rating" value="2" class="fa fa-star checked invisible_button" id="2 stars"></button>
                        <button type="submit" name="rating" value="3" class="fa fa-star checked invisible_button" id="3 stars"></button>
                        <button type="submit" name="rating" value="4" class="fa fa-star invisible_button" id="4 stars"></button>
                        <button type="submit" name="rating" value="5" class="fa fa-star invisible_button" id="5 stars"></button>
                        {% csrf_token %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
