@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#book_details_table {
    align-items: center;
}

.about-us-page h1, .about-us-page h2, .about-us-page h3 {
    font-family: 'Arial', sans-serif;
    color: #464952;
}

#teams{
    padding: 50px;
}

#team {
    padding-block: 20px;
}


