@charset "utf-8";

.gradient-custom{
    background: rgb(2,0,36);
    background: linear-gradient(39deg, rgba(137,28,156,1) 0%, rgba(0,212,255,1) 100%);
}

li a:hover{
    background: radial-gradient(ellipse, rgba(0,212,255,0.8) 0%, rgba(137,28,156,0.0) 100%);
    color: white;
}
a{
    color: blue;
    display: inline-block;
    padding: 3px 8px;
}
li{
    display: inline-block;
}

