@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#book_details_table {
    align-items: center;
}

.about-us-page h1, .about-us-page h2, .about-us-page h3 {
    font-family: 'Arial', sans-serif;
    color: #464952;
}

#teams{
    padding: 50px;
}

#team {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-block: 20px;
}

#team:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}







